.module {
    margin: 0 0 1em 0;
    overflow: hidden;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.main {
    background-color:white;
    height:700px;
    overflow-y: scroll;
}

/*
.sectionTitle{
    font-size: 0.8125rem;
    font-weight: bold;
}
*/
